





.bracketheading{
	background-color:#333;
}









/*Change all over commands to classes */





li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */


header {

}

.history{
	border: 2px solid white;
}




h2 {text-align: center;
border-top: 2px solid white;
border-bottom: 2px solid white;
padding-bottom: 5px;
padding-top: 5px;}




/*
   Tournament Bracket CSS
*/
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:500px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }



.tournament{
	background-color: #123123;
}
li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }
.Tattoo {
  font-weight:bold;
  margin:auto;
  float:left;
  width: 100%;
}

/* League History*/

