
/*home page css*/
* { 
  box-sizing: Border-box; 
} 
body {
  background-color: black;
  color: white;

}
h1 {
  text-align: center;
  background-image: linear-gradient(to right, rgb(180, 5, 180),rgb(85, 14, 85));
  color: white;
}

figcaption {
  text-align: center;
  color: rgb(8, 185, 8);
}
.container {
  display: flex;
  width: 100%;
}

.main-nav {
 flex-direction: row;
 justify-content: space-around;
}

.img-nav {
  width: 200px;
  height: 125px;
}
.img-h {
  border: 2px solid rgb(180, 5, 180);
  border-radius: 10px;
}
.img-h:hover {
  transform: scale(1.1);
}

.podcast {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
 
/* other stuff */

.bracketheading{
	background-color:#333;
}



.history{
	border: 2px solid white;
}


/*
   Tournament Bracket CSS
*/

/* adjust this with classes */
.playoff {
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:500px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }



.tournament{
	background-color: #123123;
}
li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }
.Tattoo {
  font-weight:bold;
  margin:auto;
  float:left;
  width: 100%;
}

/* League History*/

